

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  height: 35px;
}

.img-website {
  background-image: url('./resources/default-img.png');
}

.nav-btn {
  margin-left: 5%;
  margin-right: 5%;
  width: 200px;
}

.search-and-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.carousel-text {
  display: block;
}

.carousel-text-rows {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 10%;
}

#root > div > div.nav-info > div.carousel-container {
  height: 350px;
  background: url('./resources/origin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -200px;
  /* background-size: auto; */
  /* margin-right: -8.25%;
  margin-left: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  /* background-position: 0px 50px; */
}

#root > div > div.services {
  /* margin-right: 15%;
  margin-left: 15%; */
  /* background-color: grey; */
}

#root > div > div.services > div.info-cards > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#root > div > div.services > div.info-cards {
  margin-left: 60px;
  margin-right: 60px;
}

#root > div > div.services > div.info-cards > div:nth-child(2) > div:nth-child(1) {
  background: url('./resources/card-r1-c1.jpg');
  background-size: cover;
  height: auto;
  width: 650px;
  margin: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(2) > div:nth-child(2) {
  background: url('./resources/card-r1-c2.jpg');
  background-size: cover;
  height: auto;
  width: auto;
  margin: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(2) > div:nth-child(3) {
  background: url('./resources/card-r1-c3.jpg');
  background-size: cover;
  height: auto;
  width: auto;
  margin: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(3) > div:nth-child(1) {
  background: url('./resources/card-r2-c1.jpg');
  background-size: cover;
  height: auto;
  width: auto;
  margin: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(3) > div:nth-child(2) {
  background: url('./resources/card-r2-c2.jpg');
  background-size: cover;
  height: auto;
  width: auto;
  margin: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(3) > div:nth-child(3) {
  background: url('./resources/card-r2-c3.jpg');
  background-size: cover;
  height: auto;
  width: 365px; 
  margin: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(4) > div:nth-child(1) {
  background: url('./resources/card-r3-c1.jpg');
  background-size: cover;
  height: auto;
  width: 450px;
  margin-left: 10%;
  margin-right: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(4) > div:nth-child(2) {
  background: url('./resources/card-r3-c2.jpg');
  background-size: cover;
  height: auto;
  width: 450px;
  margin-right: 10%;
  margin-left: 4px;
}

#root > div > div.services > div.info-cards > div:nth-child(2) > div:nth-child(2) {
  height: 200px;
  width: 600px;
}

#root > div > div.services > div.info-cards > div:nth-child(2) > div:nth-child(3) {
  height: 200px;
}

#root > div > div.services > div.info-cards > div:nth-child(3) > div:nth-child(1) {
  height: 200px;
}

#root > div > div.services > div.info-cards > div:nth-child(3) > div:nth-child(2) {
  height: 200px;
  width: 400px;
}

#root > div > div.services > div.info-cards > div:nth-child(3) > div:nth-child(3) {
  height: 200px;
}

#root > div > div.services > div.info-cards > div:nth-child(4) > div:nth-child(1) {
  height: 200px;
}

#root > div > div.services > div.info-cards > div:nth-child(4) > div:nth-child(2) {
  height: 200px;
}

#root > div > div.services > div.info-cards > div:nth-child(3) > div:nth-child(1) {
  width: 425px;
}

#root > div > div.services > div.services-section > div:nth-child(1) {
  background: url('./resources/service-card-1.jpg');
  background-size: cover;
  background-position: center;
}

#root > div > div.services > div.services-section > div:nth-child(2) {
  background: url('./resources/service-card-2.jpg');
  background-size: cover;
  background-position: center;
}

#root > div > div.services > div.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#root > div > div.services > div.footer > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
}

#root > div > div.nav-info > div.carousel-container > div {
  background-color: rgb(128,128,128, 0.6);
  /* opacity: 0.5; */
  margin-right: 50%;
}

#root > div > div.services > div.info-cards > div > div > div > h1 {
  background-color: rgb(128,128,128, 0.6);
}

#root > div > div.services > div.services-section > div:nth-child(1) {
  height: 400px;
}

#root > div > div.services > div.services-section > div:nth-child(2) {
  height: 400px;
}

#root > div > div.services > div.info-cards > div:nth-child(5) {
  margin-top: 20px;
  background-color: rgb(128,128,128, 0.6);
  width: 275px;
  height: 50px;
  margin-left: 400px;
}

#root > div > div.services > div.footer > div:nth-child(1) {
  margin-left: 100px;
}

#root > div > div.services > div.footer > div:nth-child(3) {
  margin-right: 100px;
}

#root > div > div.services > div.services-section > div:nth-child(1) > h2 {
  background-color: rgb(128,128,128, 0.6);
  margin-right: 700px;
}

#root > div > div.services > div.services-section > div:nth-child(1) > p {
  background-color: rgb(128,128,128, 0.6);
  margin-right: 700px;
}

#root > div > div.services > div.services-section > div:nth-child(2) > h2 {
  background-color: rgb(128,128,128, 0.6);
  margin-left: 650px;
}

#root > div > div.services > div.services-section > div:nth-child(2) > p {
  background-color: rgb(128,128,128, 0.6);
  margin-left: 650px;
}

/* TODO: make a media screen */

@media only screen and (max-width: 640px) {
  #root > div > div.nav-info > div.navbar-container {
    visibility: hidden;
  }
  #root > div > div.nav-info > div.carousel-container > div > div:nth-child(1) > h2 {
    /* margin-top: -5%; */
    position: absolute;
    font-size: small;
    bottom: 125px;
  }
  #root > div > div.nav-info > div.carousel-container > div > div:nth-child(2) > h2 {
    font-size: small;
    position: absolute;
    bottom: 75px;
  }

  #root > div > div.services > div.info-cards {
    display: inline-block;
  }

  #root > div > div.nav-info > div.carousel-container > div > div:nth-child(1) > h2 {
    background-color: rgb(128,128,128, 0.6);
  }

  #root > div > div.nav-info > div.carousel-container > div > div:nth-child(2) > h2 {
    background-color: rgb(128,128,128, 0.6);
  }

  #root > div > div.services > div.info-cards > div:nth-child(2) > div:nth-child(1) {
    margin-left: -100px;
  }
  
  

}

#root > div > div.nav-info > div.navbar-container > img {
  margin-left: 2%;
  width: 3.5%;
  height: 80%;
  padding-bottom: 1%;
}

#root > div > div.nav-info > div.navbar-container {
  height: 50px;
}

#root > div > div.nav-info > div.navbar-container > div.navbar-container.buttons > div:nth-child(3) {
  width: 100%;
}

#root > div > div.nav-info > div.navbar-container > div.navbar-container.buttons > div:nth-child(4) {
  width: 350px;
}

#root > div > div.nav-info > div.navbar-container > div.navbar-container.buttons > div:nth-child(1) {
  
}